/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#punkte .table-column {
  -fx-alignment: CENTER;
  -fx-text-fill: white;
}

#punkte .table-column.belegt {
  -fx-text-fill: black;
}

#punkte .table-column.kombis {
  -fx-text-fill: black;
}

.table-view {
	-fx-font-size: 16;
}

.table-view .column-header.aktuell {
	-fx-background-color: grey;
}